<div class="emcr-flexrow flexrow">
    <aside class="emcr-sidebar sidebar flexcol">
        <nav class="emcr-tabs tabs" aria-label="eemcr.dialog.bookCategories">
            <a class="item category-tab emcr-tab-item active" data-tab="all">
                <i class="fas fa-books"></i> {{localize "emcr.dialog.allBooks"}}
            </a>
            {{#each (uniqueCategories books)}}
            <a class="item category-tab emcr-tab-item" data-tab="{{this}}">
                <i class="fas fa-book"></i> {{this}}
            </a>
            {{/each}}
        </nav>
        <footer class="emcr-footer">
            <form>
                <div class="form-group">
                    <button class="emcr-manage-ownership" id="emcr-manage-ownership" data-type="all">
                        <i class="fas fa-person"></i> {{localize "emcr.dialog.manageOwnership"}}
                    </button>
                </div>
                <div class="form-group">
                    <button type="button" class="emcr-import-button" id="emcr-import-button" data-type="all">
                        <i class="fas fa-file-import"></i> {{localize "emcr.dialog.import"}}
                    </button>
                </div>
            </form>
        </footer>
    </aside>
    <form class="emcr-form">
        <div class="emcr-content">
            {{!-- All Books Tab --}}
            <section class="emcr-tab-content active" data-tab="all">
                {{#each books}}
                <div class="emcr-book-item emcr-form-group form-group" data-category="{{this.category}}">
                    <input type="checkbox"
                           class="emcr-book-checkbox"
                           data-book-id="{{this.name}}"
                           name="{{this.name}}"
                           id="all-{{this.name}}"
                           {{#if this.enabled}} checked{{/if}}>
                    <label for="all-{{this.name}}">{{this.name}}</label>
                </div>
                {{/each}}
            </section>

            {{!-- Category Tabs --}}
            {{#each (uniqueCategories books) as |category|}}
            <section class="emcr-tab-content" data-tab="{{category}}">
                {{#each ../books}}
                {{#if (eq this.category category)}}
                <div class="emcr-book-item emcr-form-group form-group">
                    <input type="checkbox"
                           class="emcr-book-checkbox"
                           data-book-id="{{this.name}}"
                           name="{{this.name}}"
                           id="{{this.name}}"
                           {{#if this.enabled}} checked{{/if}}>
                    <label for="{{this.name}}">{{this.name}}</label>
                </div>
                {{/if}}
                {{/each}}
            </section>
            {{/each}}
        </div>

    </form>
</div>
