<form class="emcr-ownership-manager-form">
    <div class="form-group">
        <p>{{localize "emcr.ownershipManager.explain"}}</p>
    </div>
    <div class="form-group">
        <label for="user-select">{{localize "emcr.ownershipManager.selectUser"}}:</label>
        <select id="user-select" name="user">
            {{#each users}}
                <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label for="book-select">{{localize "emcr.ownershipManager.selectBook"}}:</label>
        <select id="book-select" name="book">
            {{#each books}}
                <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label for="permission">{{localize "emcr.ownershipManager.permission"}}</label>
        <select id="permission" name="permission">
            <option value="1">{{localize "emcr.ownershipManager.allow"}}</option>
            <option value="2">{{localize "emcr.ownershipManager.deny"}}</option>
            <option value="0">{{localize "emcr.ownershipManager.default"}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="max-dc">{{localize "emcr.ownershipManager.maxDC"}}</label>
        <input type="number" id="max-dc" value="10" name="maxDc" min="0" max="100">
    </div>
    <div class="form-group">
        <button type="submit" id="emcr-apply-ownership" name="submit">{{localize
                "emcr.ownershipManager.apply"}}</button>

    </div>
</form>